<div class="form-group typing-zone" id="typing-zone">
  <div class="input-group input-group-lg icon-addon addon-lg">
    <textarea (keyup.enter)="sendMessage()" type="text" placeholder="Message..." rows="3" col="50" id="name" required
              [(ngModel)]="message.content" name="name" class="form-control input-lg message-text"></textarea>
    <i class="icon icon-search"></i>
    <span class="input-group-btn">
      <button class="btn btn-inverse" (click)="sendMessage();$event.stopImmediatePropagation();"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></button>
    </span>
  </div>
</div>
