h5{
  color: #424242;
  font-size: 2vh;
}

.channel-item{
  background-color: #EEEEEE;
  border:none;
  font-family: 'Open Sans', sans-serif;
}

.channel-item:hover{
  color: #E3F2FD;
  background-color: #2196F3;
}

.current{
  background-color: #90CAF9;
  font-weight: bold;
}
