<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="sidenav" id="channelSidenav" >
          <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded row-lg-12" id="left-sidebar">
            <app-channel-list></app-channel-list>
          </nav>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12" id="content">
        <div class="section-wrap">
          <div class="header-wrap">
            <app-infobar></app-infobar>
          </div>
          <app-message-list></app-message-list>
          <app-message-form></app-message-form>
        </div>
      </div>

      <div id="usersSidenav" class="sidenav">
        <nav class="col-sm-3 hidden-xs-down bg-faded row-lg-12" id="right-sidebar" (click)="openUsers()">
          <div id="users">
            <app-user-list></app-user-list>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>

