<div>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar row-lg-12" id="left-sidebar">
        <app-channel-list></app-channel-list>
      </nav>
      <div class="col-sm-6" id="content">
        <div class="section-wrap" id="Messages">
          <div class="header-wrap">
            <div class="chat-header col-sm-12">
              <h1> {{title}} </h1>
            </div>
          </div>
          <app-message-list></app-message-list>
          <app-message-form></app-message-form>
        </div>
      </div>
      <div class="col-md-3 hidden-xs-down bg-faded sidebar row-lg-12" id="right-sidebar">
        <div id ="users">
          <app-user-list></app-user-list>
        </div>
      </div>
    </div>
  </div>
</div>

