/** USERS LIST, CHANNELS LIST AND MESSAGES LIST */

#content {
  left: 0%;
  right: 0;
  min-width: 100%;
  background-color: #FAFAFA;
}

#left-sidebar, #content, #right-sidebar {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
}

#right-sidebar {
  left: 100%;
  min-width: 100%;
  right: 0;
}

#left-sidebar, #right-sidebar{
  background-color: #EEEEEE;
}

#left-sidebar {
  left: 0;
  min-width: 100%;
}

#channelSidenav{
  left:0;
}

.panel-wrap {
  height: 100%;
  padding: 0;
}

.section-wrap {
  height: 100%;
}

.chat-header{
  height: 10vh;
  min-height: 10vh;
  text-align: center;
  margin: auto;
}

/** SIDENAV CSS **/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {

}

.closebtn{
  display: none;
  float: right;
}
