h1 {
  text-align: center;
}

.sidebar{
  height: 100%;
}

#left-sidebar, #content, #right-sidebar {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100vh;
}

#left-sidebar, #right-sidebar{
  background-color: #EEEEEE;
}

#left-sidebar {
  left: 0;
  width: 20%;
}

#content {
  left: 20%;
  right: 0;
  min-width: 60%;
  background-color: #FAFAFA;
}

#channelButton{
  display: none;
}

#right-sidebar {
  left: 80%;
  width: 20%;
  right: 0;
}

.panel-wrap {
  height: 100%;
  padding: 0;
}

.section-wrap {
  height: 100%;
}

.chat-header{
  height: 10vh;
  min-height: 10vh;
  text-align: center;
  margin: auto;
}

@media (max-width: 760px) {
  #content, #right-sidebar{
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #content{
  }
}
