<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="card container" id="message{{message.id}}">
  <div class="row">
    <div class="col-md-2 col-md-offset-2 avatar">
      <img class="card-img-left" [src]="getAvatar(message.from)" alt="Avatar">
    </div>
    <div class="col-md-10 col-md-offset-10 infos">
      <div class="row">
        <div class="col-md-3 col-md-offset-6">
          <span class="autor">{{message.from}}</span>
        </div>
        <div class="col-md-6 col-md-offset-1">
        </div>
        <div class="col-md-3 col-md-offset-5">
          <span class="hour">{{message.createdAt | dateFormat}}</span>
        </div>
      </div>
      <div class="row message">
        <span class="message-content" [innerHTML]="message.content | linkify">{{message.content}}</span>
      </div>
    </div>
  </div>

  <div class="row picturething" id="picturething">
    <div class="col-md-6 iframeContainer">
      <div *ngIf="message.imgUrl">
        <a href={{message.imgUrl}} target="_blank">
          <img class="embedImage" [src]="message.imgUrl">
        </a>
      </div>
      <div class="embedVideo" *ngIf="message.ytUrl">
        <iframe  [src]="message.ytUrl | safe" ></iframe>
      </div>
      <div class="embedTweet" *ngIf="message.tweet">
        <iframe [src]="message.tweet | safe" frameborder="0"></iframe>
      </div>
      <div class="embedInstagram" *ngIf="message.instagram">
        <iframe  [src]="message.instagram | safe" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
