.embedImage{
  width: 100%;
  height: auto;
}

.embedVideo {
  width: 400px;
  height: 400px;
}


.embedTweet {
  width: 500px;
  height: 550px;
  border-width: 0;
}

.embedInstagram {
  width: 500px;
  height: 500px;
}

.embedImage, .embedVideo, .embedTweet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.autor{
  font-size: 2.5vh;
  font-weight: bold;
}

.hour{
  font-size: 1.5vh;
  font-style: italic;
}

.message-content{
  font-size: 2vh;
}

.media-object{
  max-width: 4vw;
  max-height: 4vw;
}

.message{
  width: 100%;
  border-top: solid 1px #E0E0E0;
  font-family: 'Open Sans', sans-serif;

}

@media (max-width: 780px) {

  .media-object{
    max-width: 15vw;
    max-height: 15vh;
  }

  .col-xs-3{
    width: auto;
  }

  .avatar, .hour {
    width: 25%;
    font-size: 2vh;
  }

  .autor{
    width: 50%;
    font-size: 3vh;
  }

  .separator{
    display: none;
  }
}
