/** Button for pseudo swap **/

#swapButton button{
  height: 100%;
}

/** Mobile and horizontal tablet **/

@media (max-width: 1200px) and (max-height: 780px){

  .chat-header {
    height: 10vh;
    font-size: 2vw;
  }

  #pseudo {
    display: none;
  }

  .pseudoButton {
    width: 50%;
  }

  .channelsButton, .usersButton {
    width: 25%;
    height: 10vh;
    display: block;
  }

  #swapButton button{
    display: none;
  }

}
