<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="chat-header header-wrap row">
  <!-- Use any element to open the sidenav -->
  <div class="col-md-1 col-xs-3 col-sm-3 channelsButton">
    <span (click)="openChannels()"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></span>
  </div>
  <div class="col-md-10 col-xs-6 col-sm-6 pseudoButton">
    <div class="row">
      <div class="col-md-6 " id="info">
        <span >{{info}}</span>
      </div>
      <div class="col-md-6" id="pseudo">
        <div class="col-md-6 input-group">
          <input type="text" id="newNick" class="form-control" value="{{currentPseudo}}" (focus)="displayButton()" (keyup.enter)="switchPseudo()" (blur)="switchPseudo()">
          <span class="input-group-btn" id="swapButton">
            <button class="btn btn-default" type="button" (click)="switchPseudo()">Swap !</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-xs-3 col-sm-3 usersButton">
    <span (click)="openUsers()"><i class="fa fa-users fa-2x" aria-hidden="true"></i></span>
  </div>
</div>

