<div class="chat-header header-wrap row">
  <div class="col-md-9" id="info">
    <span >{{info}}</span>
  </div>
  <div class="col-xs-3"></div>
  <button class="btn btn-default" id="pseudo" lass="col-xs-9" (click)="switchBar()" type="button"><span>{{currentPseudo}}</span></button>
  <div class="input-group col-md-9" id="switchbar">
    <input type="text" id="newNick" class="form-control" placeholder="{{currentPseudo}}" (keyup.enter)="switchPseudo()">
    <span class="input-group-btn" (click)="switchPseudo()">
        <button class="btn btn-default" type="button">Switch !</button>
      </span>
  </div><!-- /input-group -->
  <div class="col-xs-3"></div>
</div>
