.header-wrap {
  width: 100%;
  padding: 0;
}

.users-list {
  height: 95vh;
  min-height: 95vh;
}

.chat-header {
  height: 5vh;
  min-height: 5vh;
  text-align: center;
  margin: auto;
}

h1 {
  color: #212121;
  font-size: 3vh;
  line-height: 3vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #212121;
}
