.header-wrap {
  width: 100%;
  padding: 0;
}

.users-list {
  height: 90vh;
  min-height: 90vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #212121;
}

.chat-header {
  height: 10vh;
}
