<div class="header-wrap chat-header col-sm-12">
  <span> Users </span>
  <button type="button" class="close" aria-label="Close" (click)="closeUsers()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="User search..." id="searchbar" (keyup)="searchUsers()">
  </div>
</div>
<div class="pre-scrollable users-list col-sm-12 row-sm-12 list-group list-group-info">
  <div *ngFor="let current of userList" role="tablist">
    <app-user [user]="current"></app-user>
  </div>
</div>
