@import "~bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */


body {
  height:100%;
  width: 100%;
  position:relative;
}



@media (max-width: 760px) {
  #left-sidebar, #right-sidebar{
    width: 0%;
  }

}


.chat-header {
  height: 5vh;
  text-align: center;
  line-height: 5vh; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 780px) {

  .chat-header {
    height: 20vh;
    width: auto;
  }

  #pseudo{
    width: 50vw;
    margin-right:25%;
    margin-left: 25%;
  }



}

.header-wrap span {
  color: #212121;
  font-size: 3vh;
  line-height: 3vh;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Lato');
