.header-wrap {
  width: 100%;
  padding: 0;
}

.chanels-list {
  height: 90vh;
  min-height: 90vh;
  overflow-x: hidden;
}

.chat-header {
  height: 5vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #212121;
}

.current{
  background-color: #90CAF9;
  font-weight: bold;
}
