<div class="header-wrap chat-header col-sm-12">
  <span>Channels</span>
  <app-channel-modal-component></app-channel-modal-component>
</div>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Channel search..." id="searchbarChannel" (keyup.enter)="searchChannels()">
  <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="searchChannels()">Go!</button>
      </span>
</div>
<div class="pre-scrollable nav-pills chanels-list col-sm-12 row-sm-12 list-group list-group-info">
  <div *ngFor="let channel of channelList" role="tablist">
    <app-channel [channel]="channel"></app-channel>
  </div>
</div>
