h5{
  color: #424242;
  font-size: 2vh;
}

.nav-link:hover{
  background-color: #03A9F4;
}

.user-item{
  background-color: #EEEEEE;
  border:none;
  font-family: 'Open Sans', sans-serif;
}

.user-item:hover{
  color: #E3F2FD;
  background-color: #2196F3;
}

.btn{
  float: right;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  color: #0275d8;
}

.btn:hover{
  background-color: #1976D2;
  border-color: transparent;
  color: #0D47A1;
}

@media (max-width: 1200px) {

  .closebtn{
    display: block;
    float: right;
  }

  .pseudo{
    width: 90%;
  }

  .mute-button{
    width: 10%;
    padding:0;
  }
}
