<div class="pre-scrollable messages-list col-sm-12 row-sm-12" id="messages-list" (scroll)="onScroll($event)">
  <!-- On boucle sur tous les messages de notre liste de messages stockés dans messageList -->
  <div class="chatbody" *ngFor="let currentMessage of messageList" role="tablist">
    <!--CurrentMessage est le message courant dans la boucle -->
    <!--On donne notre message courant en Input (en entrée, parametre) du composant Message qui va lui l'afficher.-->
    <app-message [message]="currentMessage"></app-message>
  </div>

